<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://thelia.net/schema/dic/module"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/module http://thelia.net/schema/dic/module/module-2_1.xsd">
    <fullnamespace>BrandCarousel\BrandCarousel</fullnamespace>
    <descriptive locale="en_US">
        <title>Brand Carousel</title>
        <!--
        <subtitle></subtitle>
        <description></description>
        <postscriptum></postscriptum>
        -->
    </descriptive>
    <descriptive locale="fr_FR">
        <title>Carousel de logo des marques - Développé par Devoption</title>
    </descriptive>
    <!-- <logo></logo> -->
    <!--<images-folder>images</images-folder>-->
    <languages>
        <language>en_US</language>
        <language>fr_FR</language>
    </languages>
    <version>1.2.0</version>
    <author>
        <name>Devoption</name>
        <email>infos@devoption.net</email>
    </author>
    <type>classic</type>
    <!--
    module dependencies
    <required>
        <module version="&gt;=0.1">Front</module>
        <module version="~1.0">HookCart</module>
        <module version="&gt;0.2">HookSearch</module>
    </required>
    -->
    <thelia>2.1.0</thelia>
    <stability>other</stability>
</module>
